body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

.ijul {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
}

.haha {
  color: #ff69b4;
  font-size: 24px;
  font-weight: bold;
  animation: textGlow 1.5s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 5px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff1493,
      0 0 20px #ff1493;
  }
  to {
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 30px #ff1493,
      0 0 40px #ff1493;
  }
}
